<style>
.message-content{
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
  font-size: 18px;
  line-height: 22px;
}

.btn-token {
	background-color:#44c767;
	border-radius:11px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.btn-token:hover {
	background-color:#5cbf2a;
}
.btn-token:active {
	position:relative;
	top:1px;
}
.thankyou{
  display: block;,
  margin-bottom: 20px;
}
</style>
<div class="message-content">
  <p>Olá,  {{name}}</p>
  <p>Parece que uma troca de senha para sua conta foi solicitada.</p>
  <p>Se foi você clique no link abaixo para escolher uma nova opção de senha</p>
  <p>
    <a href="{{link}}" target="_blank" class="btn-token">resetar minha senha</a>
  </p>
  <p>Senão foi você descarte esse email</p>
  <p class="thankyou">Obrigado!</p>
  <p><strong>Equipe GoBarber</strong></p>
</div>
